@import "style.css";

body{
	
	display: flex;
	flex-direction: column;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20%;
	min-height: 3em;
	border-bottom: 2px solid white;
}

nav > a{
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
}

header{
	position: sticky;
	top: 0;
	background-image: url('../img/656668.jpg');    
	box-shadow: 0px 5px 11px -2px rgb(0 0 0 / 20%);
}

#user{
	position: absolute;
	right: 5%;
	top: 0;
	display: flex;
	height: 100%;
	align-items: center;
}

#user > p{
	font-style: italic;
	margin: 0 8px;
}

main{
	padding: 1% 20%;
	background-color: white;
	text-align: center;
	flex: 1;
}

main h1{
	margin: 1em 0 0.5em;
	border-bottom: 3px solid var(--dark-blue);
}

article{
	display: flex;
	margin: 3em 0;
}

article > div{
	padding: 2em 0;
	flex: 1;
}

article i{
	color: var(--orange);
}

article i.fa-plus-square{
	color: var(--dark-blue);
	position: relative;
	right: 0.7em;
}

article a{
	font-size: 1.2em;
	padding: 0.3em 0.8em;
	background-color: var(--dark-blue);
	color:white;
	text-decoration: none;
}

article a:hover{
	background-color: var(--orange);
	color: black;
	transition: 0.3s;
	animation-name: shake;
	animation-duration: 1s;
	position: relative;
}

article figure{
	margin: 0;
}

article :nth-child(odd):is(div){
	
	background-color: rgba(var(--light-blue-rgb), 0.1);
}

footer{
	padding: 1em 0;
	text-align: center;
}

table{width: 100%; }

table, th, td{    
    text-align: left;
    border-bottom: 1px solid black;
   border-collapse: collapse;
   padding: 0.5em;
    }

thead{
	background-color: var(--dark-blue);

	}
	th{
		color: white;}
		
table tbody tr:hover{
	background-color: var(--light-yellow);
	transition: 0.5s;
}

table tbody tr:last-child td {
	border-bottom-width: 3px;
}

/* Add manufacturer */

form div{
	font-size: 1.3em;
	padding: 0.5em;
}

form div label{
	width: 3em;
	display: inline-block;
	text-align: right;
	padding-right: 15px;
}

form div input, form div select{
	font-size: 1em;
    padding: 0.2em;
    width: 13em;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
}

form div input:focus, form div select:focus{
	background-color: rgba(var(--light-yellow-rgb), 0.2);
}

input[type=submit] {
	font-size: 1em;
    background-color: var(--dark-blue);
    color: #FFFFFF;
    outline: none;
    border: none;
}

input[type=submit]:hover {
	background-color: var(--light-yellow);
	color: var(--dark-blue);
	transition: 0.5s;
	cursor: pointer;
}

/* Animacije */

	article i[class*="fa-"]:not(.fa-plus-square){
		animation-name: appear;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-fill-mode: backwards;
	}
	
	article i.fa-plus-square{
		animation-name: appear3;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
	
	@keyframes appear{
		0%{
			font-size: 0;
		}		
		100%{
			font-size: 5em;
		}
	}

@keyframes appear3{
		0%{
			font-size: 0;
		}		
		100%{
			font-size: 3em;
		}
	}
	
.right-slide-in{
	animation-name: right-slide-in;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	transform: translateX(-200%);
}

.left-slide-in{
	animation-name: left-slide-in;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	transform: translateX(200%);
}

@keyframes right-slide-in{
	0%{
		transform: translateX(-200%);
	}
	100%{
	transform: translateX(0);
	}
}

@keyframes left-slide-in{
	0%{
		transform: translateX(200%);
	}
	100%{
	transform: translateX(0);
	}
}

@keyframes shake{
          0%{
            left: -10px;
          }
          10%{
              left: 10px;
          }
          20%{
            left: -8px;
          }
          30%{
              left: 8px;
          }
          40%{
            left: -6px;
          }
          50%{
              left: 6px;
          }
          60%{
              left: -4px;
          }
          70%{
              left: 4px;
          }
          80%{
              left: -2px;
          }
          90%{
              left: 2px;
          }
          100%{
              left: 0px;
          }
      }

