@import "style.css";

.flex-wrapper{
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}

.login-box  div{
    margin: 30px 0px;
    background-color: white;
}

.login-box  div.error{
    border: 2px solid red;
}

.login-box div.error input::placeholder{
    color: red;

}

.login-box  div > i{
    font-size: 1.5em;
    padding: 0 1em;
}

.login-box input[type=text], .login-box input[type=password]{
    font-size: 1.5em;
    padding: 0.5em;
    
}

.login-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: white solid 2px;
    background-color: #ffffff8f;
    padding: 0 15%;
    height: 100vh;
    box-shadow: -6px 1px 20px 2px var(--dark-blue); 

}

.login-box input[type=submit]{
    font-size: 1.5em;
    padding: 0.2em 0.7em;
    background-color: var(--dark-blue); 
    color: #FFFFFF;
    width: 100%;
}

.login-box input[type=submit]:hover{
    background-color: var(--light-blue); 
    transition: 0.5s;
    cursor: pointer;
}



.login-box input::placeholder{
    color: var(--bright-blue); 

}

.login-box input{
    border: none;
}

.login-box input:focus{
    border: none;
    outline: none;
}