:root{
	--light-blue: #8ECAE6; 
	--light-blue-rgb: 	142, 202, 230;
	--bright-blue: #219EBC; 
	--dark-blue: #023047; 
	--light-yellow: #FFB703; 
	--orange: #FB8500;
}

body{
	 margin: 0;
	min-height: 100vh;
	background-image: url('../img/656668.jpg');    
	
    background-size: cover;
}

*{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-blue); 
}